In [10]:
import sqlite3
conn = sqlite3.connect('YouTube_Viz.sqlite')

In [20]:
import pandas as pd

In [9]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [12]:
# Create Channel and Video classes
# ----------------------------------
class Channel(Base):
    __tablename__ = 'channel'
    id = Column(Integer, primary_key=True)
    Channel_Id = Column(Integer)
    Name = Column(String(255))
    Channel_Description = Column(String(255))
    Published_Date = Column(String(255))
    Country = Column(String(255))
    View_Count = Column(Integer)
    Comment_Count = Column(String(255))
    Subscriber_Count = Column(Integer)
    Video_Counts = Column(Integer)
    Banner_Image = Column(String(800))

# class Video(Base):
#     __tablename__ = 'video'
#     id = Column(Integer, primary_key=True)
#     surfer_id = Column(Integer)
#     board_name = Column(String(255))
#     color = Column(String(255))
#     length = Column(Integer)

In [13]:
# Create Database Connection
# ----------------------------------
engine = create_engine("sqlite:///YouTube_Viz.sqlite")
conn = engine.connect()

In [15]:
# Create both the Surfer and Board tables within the database
Base.metadata.create_all(conn)

In [16]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [24]:

#-------------------------------------------------
#example data frame - replace with actual data 
#-------------------------------------------------

df = pd.DataFrame({
    'Channel_Id':[1, 2],
    'Name': ['ZeeTv','ErosNow'],
    'Country': ['US', 'UK']
})

df.head()

   Channel_Id     Name Country
0           1    ZeeTv      US
1           2  ErosNow      UK

In [28]:
# create a loop for channels and add to DB 
for index, row in df.iterrows():
    name = row['Name']
    channel_id = row['Channel_Id']
    country = row['Country']
    
    channel = Channel(Name=name, Channel_Id = channel_id, Country=country)
    session.add(channel)

In [29]:
#Commit all objects to the database    
session.commit()

In [30]:
# Query the database and collect all of the surfers in the Surfer table
channel_list = session.query(Channel)
for channel in channel_list:
    print(channel.Name)
    print(channel.Channel_Id)
    print(channel.Country)

ZeeTV
98372
US
ZeeTv
1
US
ErosNow
2
UK

In [36]:
#-------------------------------------
# Retrieve data using SQLAlchemy
#------------------------------------

# Query all passengers
results = session.query(Channel).all()

# Create a dictionary from the row data and append to a list of all_passengers
all_channels = []
for channel in results:
    channel_dict = {}
    channel_dict["Name"] = channel.Name
    channel_dict["Channel_Id"] = channel.Channel_Id
    channel_dict["Country"] = channel.Country
    all_channels.append(channel_dict)

In [41]:
#-------------------------------------
# Write to CSV
#------------------------------------channel_df = pd.DataFrame(all_channels)
channel_df.to_csv("data/channel.csv")

In [39]:
channel_df

   Channel_Id Country     Name
0       98372      US    ZeeTV
1           1      US    ZeeTv
2           2      UK  ErosNow